# <div style="color:white;display:fill;border-radius:5px;background-color:#0E2031;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Content</p></div>     
     
**Data Preprocessing**  
   - Settings
   - Loading Data
   - Glossary
   - Duplicated Values
   - Missing Values
   - Fixing Data Types
   - Dealing Bad Values
   - Feature Engiennier

# <div style="color:white;display:fill;border-radius:5px;background-color:#0E2031;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Preprocessing</p></div>

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime, date, timedelta
from tabulate import tabulate
from IPython.display import HTML
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
def jupyter_table_settings():
    pd.set_option('display.expand_frame_repr', False )
    pd.set_option('display.max_columns', 30)
    pd.set_option('display.max_rows', 30)

In [3]:
def matplotlib_settings():
    """ Optimize general settings, standardize plot sizes, etc. """
    
#     %matplotlib inline
#     plt.style.use( 'ggplot' )
#     plt.rcParams['figure.figsize'] = [12, 6]
#     plt.rcParams['font.size'] = 20

In [4]:
jupyter_table_settings()

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Loading Data</p></div>

In [5]:
data_raw = pd.read_csv('../data/train_raw.csv', index_col=0)
data_raw.shape

(381109, 12)

In [6]:
data_raw.tail()

            id  gender  age  region_code  policy_sales_channel  driving_license vehicle_age vehicle_damage  previously_insured  annual_premium  vintage  response
381104  381105    Male   74         26.0                  26.0                1    1-2 Year             No                   1         30170.0       88         0
381105  381106    Male   30         37.0                 152.0                1    < 1 Year             No                   1         40016.0      131         0
381106  381107    Male   21         30.0                 160.0                1    < 1 Year             No                   1         35118.0      161         0
381107  381108  Female   68         14.0                 124.0                1   > 2 Years            Yes                   0         44617.0       74         0
381108  381109    Male   46         29.0                  26.0                1    1-2 Year             No                   0         41777.0      237         0

In [7]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   gender                381109 non-null  object
 2   age                   381109 non-null  int64
 3   region_code           381109 non-null  float64
 4   policy_sales_channel  381109 non-null  float64
 5   driving_license       381109 non-null  int64
 6   vehicle_age           381109 non-null  object
 7   vehicle_damage        381109 non-null  object
 8   previously_insured    381109 non-null  int64
 9   annual_premium        381109 non-null  float64
 10  vintage               381109 non-null  int64
 11  response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 37.8+ MB

In [8]:
data = data_raw.copy()

In [9]:
tab_meanings = [['Column', 'Meaning'],
                
        ['id', 'unique customer identifier.'],
        ['gender', 'client gender: Male / Female.'],
        ['age', 'customer age.'],
        ['region_code', 'customer region code.'],
        ['policy_sales_channel', 'Anonymized Code for the channel of outreaching to the customer: Over Mail, Over Phone, In Person...'],
        ['driving_license', '0 = customer does not have DL, 1 = already have DL'],
        ['vehicle_age', 'vehicle age: < 1 Year, 1-2 Year, > 2 Years'],
        ['vehicle_damage', 'No = customer has never had their vehicle damaged in the past, Yes = has had it.'],
        ['vehicle_prev_insured', '0 = customer does not have vehicle insurance, 1= already has vehicle insurance.'],
        ['health_annual_premium', 'annual amount paid by the customer to the company for health insurance. Currency:'],
        ['vintage', 'Number of Days, Customer has been associated with the company.'],
        ['response', '0 = customer is not interested, 1 = customer is interested.']
      ]
print(tabulate(tab_meanings, headers='firstrow', stralign='left', tablefmt='rst'))

#Rs(Pakistani rupee, R$1.00 = Â± Rs0.03).

=====================  ===================================================================================================
Column                 Meaning
=====================  ===================================================================================================
id                     unique customer identifier.
gender                 client gender: Male / Female.
age                    customer age.
region_code            customer region code.
policy_sales_channel   Anonymized Code for the channel of outreaching to the customer: Over Mail, Over Phone, In Person...
driving_license        0 = customer does not have DL, 1 = already have DL
vehicle_age            vehicle age: < 1 Year, 1-2 Year, > 2 Years
vehicle_damage         No = customer has never had their vehicle damaged in the past, Yes = has had it.
vehicle_prev_insured   0 = customer does not have vehicle insurance, 1= already has vehicle insurance.
health_annual_premium  annual amount paid by the customer to the company for health insurance. Currency:
vintage                Number of Days, Customer has been associated with the company.
response               0 = customer is not interested, 1 = customer is interested.
=====================  ===================================================================================================

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Duplicated Values</p></div>

In [10]:
#Cheking Duplicated Rows
data.duplicated().sum()

0

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Missing Values</p></div>

In [11]:
data.isna().sum()

id                      0
gender                  0
age                     0
region_code             0
policy_sales_channel    0
driving_license         0
vehicle_age             0
vehicle_damage          0
previously_insured      0
annual_premium          0
vintage                 0
response                0
dtype: int64

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Fixing Data Types</p></div>